:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .body{
  margin-left:50px;
  padding:20px;
  width:100%;
 }
/* Header */
.mylogo{
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.mylogo:hover{
  box-shadow: #ffc668 0px 0px 5px;
}
.header{
  display: grid;
  grid-template-columns: repeat(4,150px) 140px;
  grid-gap: 10px;
  color: white;
  align-items: center;
}

.header h2{
  font-size:15px;
  margin-right:20px;
}
 .searchicon{
  width: 15px;
  height: 20px;
  position: absolute;
  top: 6.5%;
  right: 300px;
}
/* 
body : container  
 */

.container,.active,.inactive{
  margin-left:calc(100% - 95%);
}
.container .desc{
  margin-top: 50px;
  color: white;
}
span{
  color: #ffc668;
  font-size: 30px;
  font-weight: bold;
}
.btn:hover{
  /*  zoom in */
  transform: scale(1.03);
  transition: transform 0.1s;
}
.btn{
  height: 50px;
  text-align: center;
  background-color: transparent;
  margin-top: 20px;
  color: #ffc668;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px #ffc668;
  border: 1px solid #ffc668;
}
.active{
  display:grid;
  grid-template-columns: 100px 0 0  400px;
}
.active .links{
  margin-left: 450px;
  margin-top: -12px;
  position: relative;
} 
.active .links::before{
  content: '';
  position: absolute;
  display: block;
  width: 3px;
  height: 103px;
  background-color: #ffc668;
  top: -12px;
  left: 60px;
  transform: translateY(-50%);
}

ul{
  list-style-type: none;
  margin-top: 50px;
}
ul li{
  margin-right: 20px;
  margin-bottom: 20px;
  color:white
}


